<div class="row mt-5">
    <label>
        <input nz-input placeholder="Basic usage" [(ngModel)]="noticeHead"/>
    </label>
</div>
<div class="row ">
    <div class="col mt-5">
        <quill-editor [(ngModel)]="editorContent" [placeholder]="placeholder" class="myh">
        </quill-editor>
    </div>
</div>
<div class="row">
    <div class="col-2 mx-auto mt-4">
        <button mdbBtn type="button" color="success" block="true" outline="true" (click)="onSubmit()"
                class="rounded-pill " size="sm" mdbWavesEffect>提交
        </button>

    </div>
</div>
<div class="row">
    <div class="col-7 animated fadeIn">
        <div class="row">
            <div class="col-11 mx-auto mt-4 animated fadeInRight">
                <mdb-card cascade="true" narrower="true" class="z-depth-2">
                    <!--Card image-->
                    <div
                            class="view view-cascade gradient-card-header blue-gradient narrower z-depth-2 rounded-lg  py-2 m-3 mt-n3 text-center">
                        <div class="m-3">
                            <h4 class="white-text">请在下面上传您的文件！</h4>

                        </div>
                    </div>
                    <!--/Card image-->
                    <!-- 这里放上传文件表单 -->
                    <div class="row m-3 ">
                            <ng2-file-input [drop-text]="'请选择文件：'"
                                            (onAdded)="fileChange($event)"></ng2-file-input>
                    </div>
                </mdb-card>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
