<div class="row">
    <div class="col-1 mt-5">
        <input type="checkbox" [(ngModel)]="switch" id="flag1">
        <label class="slider-v3 blue lighten-4" for="flag1"></label>
    </div>
    <label class="disabled font-weight-bold" *ngIf="switch">发布通知：
        <nz-tag>点击上传通知文件</nz-tag>
    </label>
    <label class="disabled font-weight-bold" *ngIf="!switch"> 上传通知文件：
        <nz-tag>点击上传发布通知</nz-tag>
    </label>
</div>
<div *ngIf="switch" class="mt-5">
    <div class="row">
        <label>
            <input nz-input placeholder="通知标题" [(ngModel)]="noticeHead"/>
        </label>
    </div>
    <div class="row">
        <div class="col mt-5">
            <quill-editor [(ngModel)]="editorContent" [placeholder]="placeholder" class="myh">
            </quill-editor>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2 mx-auto mt-4">
            <button mdbBtn type="button" color="success" block="true" outline="true" (click)="onSubmit()"
                    class="rounded-pill " size="sm" mdbWavesEffect>提交
            </button>
        </div>
    </div>
</div>

<div *ngIf="!switch" class="row mt-5">
    <div class="col-5 animated fadeIn">
        <div class="row">
            <div class="col-11 mx-auto mt-4 animated fadeInRight">
                <mdb-card cascade="true" narrower="true">
                    <div class="view view-cascade gradient-card-header blue-gradient narrower z-depth-2 rounded-lg  py-2 m-3 mt-n3 text-center">
                        <div class="m-3">
                            <h4 class="white-text">通知文件上传</h4>
                        </div>
                    </div>
                    <nz-spin [nzSpinning]="uploadLoading">
                        <div class="row m-3 ">
                            <div class="col-3">
                                <ng2-file-input [drop-text]="'请选择文件：'"
                                                (onAdded)="fileChange($event)"></ng2-file-input>
                            </div>
                            <div style="margin: auto;">
                                <button mdbBtn type="submit" gradient="blue" mdbWavesEffect (click)="fileUpload()">上传
                                </button>
                            </div>
                        </div>
                    </nz-spin>
                    <div *ngIf="nzProgressVisible">
                        <nz-progress [nzPercent]="nzProgress" nzStatus="active"></nz-progress>
                    </div>
                </mdb-card>
            </div>
        </div>
    </div>
</div>
