<nz-tabset [nzSize]="'large'" [(nzSelectedIndex)]="tabIndex">
    <nz-tab nzTitle="教师信息">
        <div class="card-body col-12 px-0 mx-auto mb-6">
            <form nz-form [formGroup]="teacherValidateForm" (ngSubmit)="teacherSubmitForm($event)">
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>工号</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input formControlName="tid" placeholder="教师工号" maxlength="12">
                        <nz-form-explain
                                *ngIf="teacherValidateForm.get('tid').dirty && teacherValidateForm.get('tid').errors||teacherValidateForm.get('tid').pending ">
                            <ng-container *ngIf="teacherValidateForm.get('tid').hasError('wrong')">
                                请填写有效教师编号!
                            </ng-container>
                            <ng-container *ngIf="teacherValidateForm.get('tid').hasError('required')">
                                请填写教师编号!
                            </ng-container>
                            <ng-container *ngIf="teacherValidateForm.get('tid').hasError('duplicated')">
                                教师编号重复!
                            </ng-container>
                            <ng-container *ngIf="teacherValidateForm.get('tid').pending">
                                校验中....
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input formControlName="tname" placeholder="教师姓名">
                        <nz-form-explain
                                *ngIf="teacherValidateForm.get('tname').dirty && teacherValidateForm.get('tname').errors">
                            <ng-container *ngIf="teacherValidateForm.get('tname').hasError('required')">
                                请填写教师姓名!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>手机</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input formControlName="tphone" placeholder="手机号码" maxlength="11">
                        <nz-form-explain
                                *ngIf="teacherValidateForm.get('tphone').dirty && teacherValidateForm.get('tphone').errors">
                            <ng-container *ngIf="teacherValidateForm.get('tphone').hasError('wrong')">
                                请填写正确的手机号码!
                            </ng-container>
                            <ng-container *ngIf="teacherValidateForm.get('tphone').hasError('required')">
                                请填写手机号码!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>权限</nz-form-label>
                    <nz-form-control [nzSpan]="5">
                        <nz-select formControlName="authority" nzAllowClear nzPlaceHolder="用户权限">
                            <nz-option nzValue="0" nzLabel="教师"></nz-option>
                            <nz-option nzValue="1" nzLabel="管理员"></nz-option>
                            <nz-option nzValue="2" nzLabel="超级管理员"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7">密码</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input formControlName="tpassword" placeholder="默认密码为工号" maxlength="16">
                        <nz-form-explain *ngIf="teacherValidateForm.get('tpassword').errors">
                            请填写有效的密码!
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7">QQ</nz-form-label>
                    <nz-form-control [nzSpan]="5">
                        <input nz-input formControlName="tqq" placeholder="QQ号码" maxlength="12">
                        <nz-form-explain *ngIf="teacherValidateForm.get('tqq').errors">
                            请填写正确的QQ号码!
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                    <nz-form-label [nzSpan]="7">邮箱</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input formControlName="temail" placeholder="邮箱地址">
                        <nz-form-explain
                                *ngIf="teacherValidateForm.get('temail').errors">
                            <ng-container *ngIf="teacherValidateForm.get('temail').hasError('wrong')">
                                请填写正确的邮箱地址!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control [nzOffset]="7" [nzSpan]="5">
                        <button nz-button nzType="primary" [disabled]="!teacherValidateForm.valid">确认</button>
                        <nz-divider nzType="vertical"></nz-divider>
                        <button nz-button (click)="this.teacherValidateForm.reset();">取消</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </nz-tab>
    <nz-tab nzTitle="班级信息">
        <div class="card-body col-12 px-0 mx-auto mb-6">
            <form nz-form [formGroup]="classValidateForm" (ngSubmit)="classSubmitForm($event)">
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>编号</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input type="number" formControlName="classId" placeholder="班级编号" maxlength="8">
                        <nz-form-explain
                                *ngIf="classValidateForm.get('classId').dirty && classValidateForm.get('classId').errors||classValidateForm.get('classId').pending ">
                            <ng-container *ngIf="classValidateForm.get('classId').hasError('wrong')">
                                请填写有效班级编号!
                            </ng-container>
                            <ng-container *ngIf="classValidateForm.get('classId').hasError('duplicated')">
                                班级编号重复!
                            </ng-container>
                            <ng-container *ngIf="classValidateForm.get('classId').pending">
                                校验中....
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>年级</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <nz-year-picker formControlName="grade" nzPlaceHolder="年级"></nz-year-picker>
                        <nz-form-explain
                                *ngIf="classValidateForm.get('grade').dirty && classValidateForm.get('grade').errors">
                            <ng-container *ngIf="classValidateForm.get('grade').hasError('required')">
                                请填写年级!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>班级名</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input formControlName="className" placeholder="班级名" maxlength="11">
                        <nz-form-explain
                                *ngIf="classValidateForm.get('className').dirty && classValidateForm.get('className').errors">
                            <ng-container *ngIf="classValidateForm.get('className').hasError('required')">
                                请填写班级名!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>专业</nz-form-label>
                    <nz-form-control [nzSpan]="5">
                        <nz-select formControlName="majorId" nzAllowClear nzPlaceHolder="专业">
                            <nz-option nzValue="123" nzLabel="计算机科学与技术"></nz-option>
                            <nz-option nzValue="456" nzLabel="物联网工程"></nz-option>
                            <nz-option nzValue="666" nzLabel="通信工程"></nz-option>
                            <nz-option nzValue="789" nzLabel="电子信息"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7">人数</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <nz-input-number nz-input formControlName="studentNum" [nzMin]="1" [nzMax]="100"
                                         [nzStep]="1"></nz-input-number>
                        <nz-form-explain *ngIf="classValidateForm.get('studentNum').errors">
                            请填写有效的人数!
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                    <nz-form-control [nzOffset]="7" [nzSpan]="5">
                        <button nz-button nzType="primary" [disabled]="!classValidateForm.valid">确认</button>
                        <nz-divider nzType="vertical"></nz-divider>
                        <button nz-button (click)="this.classValidateForm.reset();">取消</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </nz-tab>
    <nz-tab nzTitle="课程信息">
        <div class="card-body col-12 px-0 mx-auto mb-6">
            <form nz-form [formGroup]="courseValidateForm" (ngSubmit)="courseSubmitForm($event)">
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>编号</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input type="number" formControlName="courseId" placeholder="课程编号">
                        <nz-form-explain
                                *ngIf="courseValidateForm.get('courseId').dirty && courseValidateForm.get('courseId').errors||courseValidateForm.get('courseId').pending ">
                            <ng-container *ngIf="courseValidateForm.get('courseId').hasError('required')">
                                请填写课程编号!
                            </ng-container>
                            <ng-container *ngIf="courseValidateForm.get('courseId').hasError('duplicated')">
                                课程编号重复!
                            </ng-container>
                            <ng-container *ngIf="courseValidateForm.get('courseId').pending">
                                校验中....
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>课程名</nz-form-label>
                    <nz-form-control [nzSpan]="5" nzHasFeedback>
                        <input nz-input formControlName="courseName" placeholder="课程名" maxlength="11">
                        <nz-form-explain
                                *ngIf="courseValidateForm.get('courseName').dirty && courseValidateForm.get('courseName').errors">
                            <ng-container>
                                请填写课程名!
                            </ng-container>
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>类型</nz-form-label>
                    <nz-form-control [nzSpan]="5">
                        <nz-select formControlName="courseType" nzAllowClear nzPlaceHolder="课程类型">
                            <nz-option nzValue="必修" nzLabel="必修"></nz-option>
                            <nz-option nzValue="选修" nzLabel="选修"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>学院</nz-form-label>
                    <nz-form-control [nzSpan]="5">
                        <nz-select formControlName="courseCollege" nzAllowClear nzPlaceHolder="开课学院">
                            <nz-option nzValue="信息科学与工程" nzLabel="信息科学与工程"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                    <nz-form-control [nzOffset]="7" [nzSpan]="5">
                        <button nz-button nzType="primary" [disabled]="!courseValidateForm.valid">确认</button>
                        <nz-divider nzType="vertical"></nz-divider>
                        <button nz-button (click)="this.courseValidateForm.reset();">取消</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </nz-tab>
    <nz-tab nzTitle="授课信息"></nz-tab>
</nz-tabset>
<div *ngIf="tabIndex==0">

</div>

