<div class="animated fadeInRight">
    <mdb-card>
        <mdb-card-body>
            <div class="text-center">
                <h3>
                    <mdb-icon fas icon="user" class="mr-2 blue-text"></mdb-icon>
                    登录
                </h3>
                <hr class="hr-light">
            </div>
            <form [formGroup]="validationForm">
                <div class="md-form mt-5">
                    <input type="text" id="form5" class="form-control white-text"
                           mdbInput mdbValidate formControlName="userFormEx" minLength="8"
                           maxLength="25"
                           [(ngModel)]="authModel.username">
                    <label for="form5">
                        <mdb-icon fas icon="user" class="active mr-1"></mdb-icon>
                        用户名
                    </label>
                    <mdb-error
                            *ngIf="userFormEx.invalid && (userFormEx.dirty || userFormEx.touched)">
                        请输入正确的用户名
                    </mdb-error>
                </div>
                <div class="md-form">
                    <input type="password" id="form4" class="form-control text-white"
                           [(ngModel)]="authModel.password"
                           mdbValidate formControlName="passwordFormEx" minLength="10"
                           maxLength="25" mdbInput>
                    <label for="form4">
                        <mdb-icon fas icon="lock" class="active mr-1"></mdb-icon>
                        密码
                    </label>
                    <mdb-error
                            *ngIf="passwordFormEx.invalid && (passwordFormEx.dirty || passwordFormEx.touched)">
                        密码错误
                    </mdb-error>
                </div>
                <div class="mt-5 text-center">
                    <button mdbBtn type="submit" gradient="blue" mdbWavesEffect (click)="login()">登录
                    </button>
                </div>
            </form>
        </mdb-card-body>
    </mdb-card>
    <!--/.Form-->
</div>

<!--Main Navigation-->
<div mdbModal #failModal class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">{{failMessage}} 请重试！</p>
            </div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" mdbBtn color="danger" outline="true" class="waves-light" mdbWavesEffect
                   data-dismiss="modal"
                   (click)="failModal.hide()">确定</a>
            </div>
            <strong>若一直登录不进去请刷新页面或者联系管理员</strong>
        </div>
        <!--/.Content-->
    </div>
</div>
