.card {
  background-color: rgba(129, 166, 247, 0.4);
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.md-form label {
  color: #ffffff;
}

.authImageCode {
  width: 120px;
}

