<div class="row">
    <div class="col-1 mt-5">
        <input type="checkbox" [(ngModel)]="switch" id="flag1">
        <label class="slider-v3 blue lighten-4" for="flag1"></label>
    </div>
    <label class="disabled font-weight-bold" *ngIf="switch">发布通知：
        <nz-tag>点击上传通知文件</nz-tag>
    </label>
    <label class="disabled font-weight-bold" *ngIf="!switch"> 上传通知文件：
        <nz-tag>点击上传发布通知</nz-tag>
    </label>
</div>
<div *ngIf="switch" class="mt-5">
    <div class="col text-center">
        <label>
            <input nz-input placeholder="标题" style="width: 200px" [(ngModel)]="noticeHead"/>
        </label>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-select [(ngModel)]="noticeType" style="width: 200px"
                   nzPlaceHolder="选择类型">
            <nz-option nzValue="通知" nzLabel="通知信息"></nz-option>
            <nz-option nzValue="规章" nzLabel="规章制度"></nz-option>
            <nz-option nzValue="教学" nzLabel="教学信息"></nz-option>
        </nz-select>
    </div>
    <div class="row">
        <div class="col mt-5">
            <quill-editor [(ngModel)]="editorContent" [placeholder]="placeholder" class="myh">
            </quill-editor>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2 mx-auto mt-4">
            <button mdbBtn type="button" color="success" block="true" outline="true" (click)="onSubmit()"
                    class="rounded-pill " size="sm" mdbWavesEffect>提交
            </button>
        </div>
    </div>
</div>

<div *ngIf="!switch">
    <div class="col-5 mt-5 animated fadeInRight">
        <mdb-card cascade="true" narrower="true">
            <div class="view view-cascade gradient-card-header blue-gradient narrower z-depth-2 rounded-lg  py-2 m-3 mt-n3 text-center">
                <div class="m-3">
                    <h4 class="white-text">通知文件上传</h4>
                </div>
            </div>
            <div class="text-center">
                <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                    <button nz-button><i nz-icon nzType="upload"></i><span>选择文件</span></button>
                </nz-upload>
                <button
                        nz-button
                        [nzType]="'primary'"
                        [nzLoading]="uploading"
                        (click)="handleUpload()"
                        [disabled]="fileList.length == 0"
                        style="margin: 16px;width: 100px"
                >
                    {{ uploading ? '上传中' : '开始上传' }}
                </button>
            </div>
            <div *ngIf="nzProgressVisible">
                <nz-progress [nzPercent]="nzProgress" nzStatus="active"></nz-progress>
            </div>
        </mdb-card>
    </div>
</div>
