<nz-tabset [nzSize]="'large'">
    <nz-tab nzTitle="教师信息">
        <div class="result-list">
            <nz-table
                #editTeacherTable
                nzBordered
                [nzData]="teacherSet"
                [nzPageSize]="8">
                <thead>
                <tr>
                    <th nzWidth="15%">工号</th>
                    <th nzWidth="15%">姓名</th>
                    <th nzWidth="10%">手机号</th>
                    <th nzWidth="10%">QQ号</th>
                    <th nzWidth="15%">邮箱</th>
                    <th nzWidth="10%">权限</th>
                    <th nzWidth="25%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of editTeacherTable.data">
                    <td>
                        <ng-container>
                            {{data.tid}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editTeacherCache[data.tid].edit">
                            {{data.tname}}
                        </ng-container>
                        <ng-container *ngIf="editTeacherCache[data.tid].edit">
                            <input type="text" nz-input [(ngModel)]="editTeacherCache[data.tid].data.tname">
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editTeacherCache[data.tid].edit">
                            {{data.tphone}}
                        </ng-container>
                        <ng-container *ngIf="editTeacherCache[data.tid].edit">
                            <input type="text" nz-input [(ngModel)]="editTeacherCache[data.tid].data.tphone">
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editTeacherCache[data.tid].edit">
                            {{data.tqq}}
                        </ng-container>
                        <ng-container *ngIf="editTeacherCache[data.tid].edit">
                            <input type="text" nz-input [(ngModel)]="editTeacherCache[data.tid].data.tqq">
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editTeacherCache[data.tid].edit">
                            {{data.temail}}
                        </ng-container>
                        <ng-container *ngIf="editTeacherCache[data.tid].edit">
                            <input type="email" nz-input [(ngModel)]="editTeacherCache[data.tid].data.temail">
                        </ng-container>
                    </td>
                    <td [ngSwitch]="data.authority">
                        <ng-container *ngIf="!editTeacherCache[data.tid].edit">
                            <ng-container *ngSwitchCase="0">教师</ng-container>
                            <ng-container *ngSwitchCase="1">管理员</ng-container>
                            <ng-container *ngSwitchCase="2">超级管理员</ng-container>
                        </ng-container>
                        <ng-container *ngIf="editTeacherCache[data.tid].edit">
                            <nz-select [(ngModel)]="editTeacherCache[data.tid].data.authority"
                                       nzPlaceHolder="选择权限">
                                <nz-option nzValue="0" nzLabel="教师"></nz-option>
                                <nz-option nzValue="1" nzLabel="管理员"></nz-option>
                                <nz-option nzValue="2" nzLabel="超级管理员"></nz-option>
                            </nz-select>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editTeacherCache[data.tid].edit">
                            <button nz-button [nzType]="'primary'" (click)="onTeachInfo(data.tid)">详情
                            </button>
                        </ng-container>
                        <nz-divider nzType="vertical"></nz-divider>
                        <ng-container *ngIf="!editTeacherCache[data.tid].edit">
                            <button nz-button [nzType]="'default'"
                                    (click)="this.editTeacherCache[data.tid].edit = true">更改
                            </button>
                        </ng-container>
                        <ng-container *ngIf="editTeacherCache[data.tid].edit">
                            <button nz-button [nzType]="'primary'"
                                    nz-popconfirm
                                    nzPopconfirmTitle="确定保存更改?"
                                    nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="saveTeacherEdit(data.tid)"
                                    (nzOnCancel)="this.editTeacherCache[data.tid].edit = false">保存
                            </button>
                        </ng-container>
                        <nz-divider nzType="vertical"></nz-divider>
                        <ng-container style="color: #D9D9D9">
                            <button nz-button [nzType]="'danger'" nz-popconfirm nzPopconfirmTitle="确定删除?"
                                    (nzOnConfirm)="deleteTeacher(data.tid)">删除
                            </button>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-tab>
    <nz-tab nzTitle="班级信息">
        <div class="result-list">
            <nz-table
                #editClassTable
                nzBordered
                [nzData]="classSet"
                [nzPageSize]="8">
                <thead>
                <tr>
                    <th nzWidth="15%">编号</th>
                    <th nzWidth="15%">班级名</th>
                    <th nzWidth="10%">专业</th>
                    <th nzWidth="10%">人数</th>
                    <th nzWidth="20%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of editClassTable.data">
                    <td>
                        <ng-container>
                            {{data.classId}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editClassCache[data.classId].edit">
                            {{data.className}}
                        </ng-container>
                        <ng-container *ngIf="editClassCache[data.classId].edit">
                            <input type="text" nz-input [(ngModel)]="editClassCache[data.classId].data.className">
                        </ng-container>
                    </td>
                    <td [ngSwitch]="data.majorId">
                        <ng-container *ngIf="!editClassCache[data.classId].edit">
                            <ng-container *ngSwitchCase="123">计算机科学与技术</ng-container>
                            <ng-container *ngSwitchCase="456">物联网工程</ng-container>
                            <ng-container *ngSwitchCase="666">通信工程</ng-container>
                            <ng-container *ngSwitchCase="789">电子信息</ng-container>
                        </ng-container>
                        <ng-container *ngIf="editClassCache[data.classId].edit">
                            <nz-select [(ngModel)]="editClassCache[data.classId].data.majorId"
                                       nzPlaceHolder="选择专业">
                                <nz-option nzValue="123" nzLabel="计算机科学与技术"></nz-option>
                                <nz-option nzValue="456" nzLabel="物联网工程"></nz-option>
                                <nz-option nzValue="666" nzLabel="通信工程"></nz-option>
                                <nz-option nzValue="789" nzLabel="电子信息"></nz-option>
                            </nz-select>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editClassCache[data.classId].edit">
                            {{data.studentNum}}
                        </ng-container>
                        <ng-container *ngIf="editClassCache[data.classId].edit">
                            <nz-input-number nz-input [(ngModel)]="editClassCache[data.classId].data.studentNum"
                                             [nzMin]="1" [nzMax]="100"
                                             [nzStep]="1"></nz-input-number>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editClassCache[data.classId].edit">
                            <button nz-button [nzType]="'primary'"
                                    (click)="this.editClassCache[data.classId].edit = true">更改
                            </button>
                        </ng-container>
                        <ng-container *ngIf="editClassCache[data.classId].edit">
                            <button nz-button [nzType]="'primary'"
                                    nz-popconfirm
                                    nzPopconfirmTitle="确定保存更改?"
                                    nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="saveClassEdit(data.classId)"
                                    (nzOnCancel)="this.editClassCache[data.classId].edit = false">保存
                            </button>
                        </ng-container>
                        <nz-divider nzType="vertical"></nz-divider>
                        <ng-container style="color: #D9D9D9">
                            <button nz-button [nzType]="'danger'" nz-popconfirm nzPopconfirmTitle="确定删除?"
                                    (nzOnConfirm)="deleteClass(data.classId)">删除
                            </button>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-tab>
    <nz-tab nzTitle="课程信息">
        <div class="result-list">
            <nz-table
                #editCourseTable
                nzBordered
                [nzData]="courseSet"
                [nzPageSize]="8">
                <thead>
                <tr>
                    <th nzWidth="15%">编号</th>
                    <th nzWidth="15%">课程名</th>
                    <th nzWidth="10%">所属学院</th>
                    <th nzWidth="10%">类型</th>
                    <th nzWidth="20%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of editCourseTable.data">
                    <td>
                        <ng-container>
                            {{data.courseId}}
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editCourseCache[data.courseId].edit">
                            {{data.courseName}}
                        </ng-container>
                        <ng-container *ngIf="editCourseCache[data.courseId].edit">
                            <input type="text" nz-input [(ngModel)]="editCourseCache[data.courseId].data.courseName">
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editCourseCache[data.courseId].edit">
                            {{data.courseCollege}}
                        </ng-container>
                        <ng-container *ngIf="editCourseCache[data.courseId].edit">
                            <nz-select [(ngModel)]="editCourseCache[data.courseId].data.courseCollege"
                                       nzPlaceHolder="所属学院">
                                <nz-option nzValue="信息科学与工程" nzLabel="信息科学与工程"></nz-option>
                            </nz-select>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editCourseCache[data.courseId].edit">
                            {{data.courseType}}
                        </ng-container>
                        <ng-container *ngIf="editCourseCache[data.courseId].edit">
                            <nz-select [(ngModel)]="editCourseCache[data.courseId].data.courseType"
                                       nzPlaceHolder="课程类型">
                                <nz-option nzValue="必修" nzLabel="必修"></nz-option>
                                <nz-option nzValue="选修" nzLabel="选修"></nz-option>
                            </nz-select>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="!editCourseCache[data.courseId].edit">
                            <button nz-button [nzType]="'primary'"
                                    (click)="this.editCourseCache[data.courseId].edit = true">更改
                            </button>
                        </ng-container>
                        <ng-container *ngIf="editCourseCache[data.courseId].edit">
                            <button nz-button [nzType]="'primary'"
                                    nz-popconfirm
                                    nzPopconfirmTitle="确定保存更改?"
                                    nzPopconfirmPlacement="bottom"
                                    (nzOnConfirm)="saveCourseEdit(data.courseId)"
                                    (nzOnCancel)="this.editCourseCache[data.courseId].edit = false">保存
                            </button>
                        </ng-container>
                        <nz-divider nzType="vertical"></nz-divider>
                        <ng-container style="color: #D9D9D9">
                            <button nz-button [nzType]="'danger'" nz-popconfirm nzPopconfirmTitle="确定删除?"
                                    (nzOnConfirm)="deleteCourse(data.courseId)">删除
                            </button>
                        </ng-container>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-tab>
</nz-tabset>
<nz-modal [(nzVisible)]="isTeachVisible" (nzOnCancel)="isTeachVisible=false" nzWidth="50%">
    <nz-card nzTitle="授课信息" nzBordered="false">
        <nz-table
            #teachTable
            nzBordered
            [nzData]="teachSet"
            [nzPageSize]="8">
            <thead>
            <tr>
                <th nzWidth="15%">授课教师</th>
                <th nzWidth="15%">课程名</th>
                <th nzWidth="20%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of teachTable.data">
                <td>
                    <ng-container>
                        {{data.tname}}
                    </ng-container>
                </td>
                <td>
                    <ng-container>
                        {{data.courseName}}
                    </ng-container>
                </td>
                <td>
                    <nz-divider nzType="vertical"></nz-divider>
                    <ng-container>
                        <button nz-button [nzType]="'danger'" nz-popconfirm nzPopconfirmTitle="确定删除?"
                                (nzOnConfirm)="deleteTeach(data.courseId)">删除
                        </button>
                    </ng-container>
                </td>
            </tr>
            </tbody>
        </nz-table>
        <div *nzModalFooter>
            <button nz-button nzType="primary" (click)="onAddTeach()">增加</button>
        </div>
    </nz-card>
    <nz-modal title="增加授课信息" [(nzVisible)]="isAddTeachVisible" (nzOnOk)="addTeach()"
              (nzOnCancel)="isAddTeachVisible=false" nzWidth="50%">
        <nz-card nzTitle="增加授课信息" nzBordered="false">
            <nz-select
                    [nzMaxTagCount]="3"
                    [nzMaxTagPlaceholder]="tagPlaceHolder"
                    nzMode="multiple"
                    nzPlaceHolder="选择课程"
                    [(ngModel)]="courseSelectedItems">
                <nz-option *ngFor="let option of courseList" [nzLabel]="option.courseName"
                           [nzValue]="option.courseId"></nz-option>
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList> 和其他 {{ selectedList.length }} 门课程</ng-template>
        </nz-card>
    </nz-modal>

</nz-modal>
