<div style="height: 124px">
    <div class="bg" style="height: 124px"><img class="mt-3 mgl" src="assets/img/logo.gif" alt="logo"/>
    </div>
</div>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand mgl" href="#"><strong>首页</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link">部门 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">规章</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">教学 </a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/r">下载</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!-- Main -->
<main>
    <div class="container">
        <div class="row pt-5">
            <div class="col text-center">
            </div>
        </div>
        <div class="row">
            <div class="col-9 animated fadeInLeft">
                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="assets/img/_DSC0057.jpg" style="height: 365px"
                                 alt="First slide">
                            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                        </div>
                        <div class="carousel-caption">
                            <p>物联网工程</p>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="assets/img/222.jpg" style="height: 365px"
                                 alt="Second slide">
                            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                        </div>
                        <div class="carousel-caption">
                            <p>轨道交通运管与信控</p>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="assets/img/_DSC0093.jpg" style="height: 365px"
                                 alt="Third slide">
                            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                        </div>
                        <div class="carousel-caption">
                            <p>大数据与人工智能</p>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
            <div class="col-3">
                <app-login></app-login>
            </div>
        </div>

        <div class="col text-center  mt-5">
            <app-show-notice></app-show-notice>
        </div>
    </div>
</main>
<!-- /.Main -->
<app-footer></app-footer>

