<h2 class="mt-5">文件下载</h2>
<nz-card class="mt-5">
    <nz-table
        #NoticeFileTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="fileDataSet"
        [nzLoading]="fileLoading"
        [nzTotal]="fileTotal"
        [(nzPageIndex)]="filePageIndex"
        [(nzPageSize)]="filePageSize"
        (nzPageIndexChange)="updateFileData()"
        (nzPageSizeChange)="updateFileData(true)">
        <thead>
        <tr>
            <th>文件名</th>
            <th>发布人</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let each of NoticeFileTable.data;let no=index">
            <td (click)="filePreview(each.fileId,each.fileName)">
                                    <span nz-tooltip
                                          nzTooltipTitle="预览">{{each.fileName}}</span>
            </td>
            <td>{{each.tname}}</td>
            <td>{{each.fileDate}}</td>
            <td>
                <button nz-button nzType="primary" (click)="fileDownLoad(each.fileId)">下载</button>
                <button *appHasRole="'SUPER_ADMIN'" nz-button nzType="danger"
                        (click)="deleteNoticeFile(each.fileId)">删除
                </button>
            </td>
        </tr>
        </tbody>
    </nz-table>
</nz-card>
