<h2 class="mt-5">规章制度</h2>
<nz-card *ngIf="!noticeInfoVisible" class="mt-5">
    <nz-table
        #NoticeFileTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="fileDataSet"
        [nzLoading]="fileLoading"
        [nzTotal]="fileTotal"
        [(nzPageIndex)]="filePageIndex"
        [(nzPageSize)]="filePageSize"
        (nzPageIndexChange)="updateFileData()"
        (nzPageSizeChange)="updateFileData(true)">
        <thead>
        <tr>
            <th>规章制度</th>
            <th>发布人</th>
            <th>时间</th>
            <th *appHasRole="'SUPER_ADMIN'">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let each of NoticeFileTable.data;let no=index">
            <td (click)="showNoticeInfo(each.nid)"><span nz-tooltip
                                                         nzTooltipTitle="查看">{{each.noticeHead}}</span></td>
            <td>{{each.tname}}</td>
            <td>{{each.noticeDate}}</td>
            <td *appHasRole="'SUPER_ADMIN'">
                <button nz-button nzType="danger"
                        (click)="deleteNotice(each.nid)">删除
                </button>
            </td>
        </tr>
        </tbody>
    </nz-table>
</nz-card>
<div *ngIf="noticeInfoVisible">
    <nz-card [nzExtra]="extraTemplate">
        <div class="site-page-header-ghost-wrapper">
            <nz-page-header nzBackIcon [nzGhost]="false">
                <nz-page-header-title>{{noticeInfo?.noticeHead}}</nz-page-header-title>
                <nz-page-header-content>
                    <nz-descriptions nzSize="small" [nzColumn]="3">
                        <nz-descriptions-item nzTitle="Created"
                                              [nzSpan]="1">{{noticeInfo?.tname}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Creation Time"
                                              [nzSpan]="1">{{noticeInfo?.noticeDate}}</nz-descriptions-item>
                    </nz-descriptions>
                </nz-page-header-content>
            </nz-page-header>
        </div>
        <nz-divider nzText="正文"></nz-divider>
        <div [innerHTML]='noticeInfo?.noticeContent'></div>
    </nz-card>
    <ng-template #extraTemplate>
        <a (click)="noticeInfoVisible=false">关闭</a>
    </ng-template>
</div>
